In [1]:
# output in python
print ("hello world")

hello world

In [2]:
# syntax for input in python
name = input("enter name: ")

enter name: M Rehan Mehdi

In [49]:
print(" Name: Rehan \n Age: 20 \n Interest: Coding \n Ntionality: Pakistani")

 Name: Rehan
 Age: 20
 Interest: Coding
 Ntionality: Pakistani

In [ ]:
# python program print your best friend name, age, interest and
# nationality by taking input
name = input("enter your best friend name:")
print ("Name: ",name)
age = input("enter your best friend age:")
print("Age:", age)
interest = input("enter your best friend interest:")
print("Interest", interest)
nationality = input("enter your best friend nationality:")
print("Nationality", nationality)

In [ ]:
# if condition
x =int (input("Enter number: "))
if x % 2 == 0:
  print( x ,"is even")
else:
  print(x ,"is odd")

In [32]:
# functions in pytho

def check(n):
  if n % 2 == 0:
    print(n, "is even")
  else:
      print(n, "is odd")

Enetr number: 3

In [33]:
n = int((input("Enetr number: ")))
check(n)

Enetr number: 2
2 is even

In [ ]:
# friend details in function

def friend_detail():

 name = input("enter your best friend name:")
age = input("enter your best friend age:")
interest = input("enter your best friend interest:")
nationality = input("enter your best friend nationality:")

print ("Name: ",name)
print("Age:", age)
print("Interest", interest)
print("Nationality", nationality)

# function for to print 5 times friend details
print("1st time")
friend_detail()
print("2nd time")
friend_detail()
print("3rd time")
friend_detail()
print("4th time")
friend_detail()
print("5th time")
friend_detail()

In [ ]:
# print table of given number

x = int (input("enter number for table: "))
for i in range (1, 11):
 print (x, "*", i, "=", i*x)

In [ ]:
#

def is_prime(n):
  if n == 0 or n == 1:
    return 0

    for i in range(2, n):
      if n % i == 0:
        return 0

        return 1

In [ ]:
x = int(input("Enter number: "))

if is_prime(x) == 0:
  print("not prime")
else:
  print("prime")

In [42]:
for i in range (100)
  if is_prime(i) ==  1:print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [47]:
# lambda function in python for to make function more brief

cube = lambda num: num*num*num

for i in range (1,10):
  print(cube(i))

1
8
27
64
125
216
343
512
729

<function <lambda> at 0x79cfd711aa20>